gloo:
  discovery:
    enabled: ${discovery_enabled}
    fdsMode: ${discovery_fds_mode}
  gateway:
    enabled: ${gateway_enabled}
  settings:
    integrations:
      knative:
        enabled: ${knative_enabled}
        version: ${knative_version}

