create_license_secret: true

devPortal:
  enabled: false

gloo:
  accessLogger:
    enabled: ${access_logger_enabled}
    stats:
      enabled: false
  discovery:
    enabled: ${discovery_enabled}
    deployment:
      stats:
        enabled: ${discovery_stats}
    fdsMode: ${discovery_fds_mode}
  gateway:
    enabled: ${gateway_enabled}
    deployment:
      stats:
        enabled: ${gateway_stats}
  gatewayProxies:
    gatewayProxy:
      stats:
        enabled: true
  gloo:
    deployment:
      stats:
        enabled: ${stats}
  namespace:
    create: false
  k8s:
    clusterName: cluster.local

global:
  glooRbac:
    create: true
    namespaced: false
  glooStats:
    enabled: false

grafana:
  admin:
    existingSecret: ""
    passwordKey: admin-password
    userKey: admin-user
  adminPassword: admin
  adminUser: admin
  defaultInstallationEnabled: true
  persistence:
    accessModes:
      - ReadWriteOnce
    enabled: true
    finalizers:
      - kubernetes.io/pvc-protection
    size: 2Gi
    type: pvc
  replicas: 1

prometheus:
  alertmanager:
    enabled: false
    persistentVolume:
      accessModes:
        - ReadWriteOnce
      annotations: {}
      enabled: true
      existingClaim: ""
      mountPath: /data
      size: 10Gi
      subPath: ""
  enabled: true
  rbac:
    create: true

rbac:
  create: true

settings:
  create: true
  integrations:
    knative:
      enabled: ${knative_enabled}
      version: ${knative_version}
