gloo:
  accessLogger:
    enabled: ${access_logger_enabled}
    stats:
      enabled: false
  discovery:
    enabled: ${discovery_enabled}
    deployment:
      stats:
        enabled: ${discovery_stats}
    fdsMode: ${discovery_fds_mode}
  gateway:
    enabled: ${gateway_enabled}
    deployment:
      stats:
        enabled: ${gateway_stats}
  gatewayProxies:
    gatewayProxy:
      stats:
        enabled: true
  gloo:
    deployment:
      stats:
        enabled: ${stats}
  namespace:
    create: false
  k8s:
    clusterName: cluster.local

settings:
  create: true
  integrations:
    knative:
      enabled: ${knative_enabled}
      version: ${knative_version}

global:
  glooRbac:
    create: false
  glooStats:
    enabled: false
